@using ApexCharts
@using DashboardPOC.Interfaces
@using LabelPosition = ApexCharts.LabelPosition
@inject IOrderService OrderService

<MudPaper Outlined="true" Elevation="2">
    <MudText Class="ma-4">@Title</MudText>
    <div class="mx-2 my-4">
        <ApexChart TItem="OrderSummary" Options="options"
                   XAxisType="XAxisType.Category">

            <ApexPointSeries TItem="OrderSummary"
                             Items="Group1OrderData"
                             SeriesType="SeriesType.Bar"
                             Name="Group 1"
                             XValue="@(e => e.Name)"
                             YValue="@(e => e.Orders)"
                             OrderByDescending="@(e => e.X)" />

            <ApexPointSeries TItem="OrderSummary"
                             Items="Group2OrderData"
                             SeriesType="SeriesType.Bar"
                             Name="Group 2"
                             XValue="@(e => e.Name)"
                             YValue="@(e => e.Orders)"
                             OrderByDescending="@(e => e.X)" />

        </ApexChart>
    </div>
</MudPaper>


@code {

    private List<OrderSummary> Group1OrderData { get; set; }
    private List<OrderSummary> Group2OrderData { get; set; }

    private ApexChartOptions<OrderSummary> options = new ()
    {
        Theme = new ()
        {
            Mode = Mode.Light,
            Palette = PaletteType.Palette1
        },
        Annotations = new ()
        {
            Xaxis =
            [
                new ()
                {
                    X = 100,
                    BorderWidth = 2,
                    BorderColor = Colors.Yellow.Default,
                    StrokeDashArray = 5
                }
            ]
        },
        PlotOptions = new ()
        {
            Bar = new ()
            {
                Horizontal = true
            }
        },
        Legend = new ()
        {
            Position = LegendPosition.Bottom
        }
    };

    [Parameter]
    public string Title { get; set; }

    protected override void OnInitialized()
    {
        Group1OrderData = OrderService.GetOrders();
        Group2OrderData = OrderService.GetOrders();
    }
}
